<header class="header">
<img src="/img/ddx-logo.png" class="headertitle" alt="DDx" width="80" height="80">
  <nav class="main-navigation">
    <div class="icon-menu"><a href="/"><img src="/img/noback.png"/></a></div>
    <div class="desktop-nav">
      <ul class="nav-links">
        <li><a href="/">New Patient</a></li>
        <li><a href="/return-patients">Return Patient</a></li>
      </ul>
    </div>
  </nav>
</header>