<header class="header">
  <h1 class="headertitle">DDx</h1>
  <nav class="main-navigation">
    <div class="icon-menu">
    <img src="/img/noback.png"/>
    </div>
    <div class="desktop-nav">
      <ul class="nav-links">
        <li><a href="/">New Patient</a></li>
        <li><a href="../aboutUs.ejs">Meet the Team</a></li>
      </ul>
    </div>
  </nav>
</header>