<header class="header">
  <h1 class="headertitle">DDx</h1>
  <nav class="main-navigation">
    <div class="icon-menu"></div>
    <div class="navBox">
      <ul>
        <li><a href="/">New Patient</a></li>
        <li><a href="/">Meet the Team</a></li>
      </ul>
    </div>
  </nav>
</header>