<header class="header">
  <h1 class="headertitle"><img src="/img/ddx-logo.png" alt="DDx" width="80" height="80"></h1>
  <nav class="main-navigation">
    <div class="icon-menu"></div>
    <div class="desktop-nav">
      <ul>
        <li><a href="/">New Patient</a></li>
        <li><a href="/">Meet the Team</a></li>
      </ul>
    </div>
  </nav>
</header>