<header class="header">
  <h1 class="headertitle">Differential Diagnosis</h1>
  <nav class="main-navigation">
    <div class="icon-menu"></div>
    <div class="">navBox
      <ul>
        <li><a href="/" class="icon-home">addtitle</a></li>
        <li><a href="/" class="icon-rocket">addtitle </a></li>
        <li><a href="/" class="icon-plus">addtitle</a></li>
        <li><a href="/" class="icon-address-book">addtitle</a></li>

      </ul>
    </div>
  </nav>
</header>