<html lang="en">
<%- include('./partials/head') %>

<body>
<%- include('./partials/header') %>
<h1>Meet Our Team</h1>
<section class='bios'>
  <div id="ash" class='group'>
    <img class 'heads' src="/img/ash-headshot.jpg" width='350' alt="Ashley Breunich Headshot">
    <div class='people'>
      <h3 class='names'>Ashley Breunich</h3>
      <p class='biosText'>Ashley is currently studying web and software development at Code Fellows and is working as a
        Digital Marketing Manager at a global real estate company headquartered in Seattle. Her greatest strengths are
        her creativity in design and her ability to get work done effectively and efficiently. She is interested in
        securing a developer position that will allow her to combine these skills and create programs that are both
        visually stunning and highly functional.</p>
    </div>
  </div>
  <div id="ed" class='group'>
    <img class 'heads' src="/img/ed-headshot.jpg" width='350' alt="Ed Puzino Headshot">
    <div class='people'>
      <h3 class='names'>Ed Puzino</h3>
      <p class='biosText'>Ed is originally from New Jersey, but has lived most of his life in Arizona. Most of his time
        in Arizona was spent working with the Air Force and the Arizona Air National Guard, where he was an Avionics
        technician. He also worked for a while in both the restaurant and cable television industries. He is a lifelong
        student and is currently studying to become a network developer at Code Fellows in Seattle. He enjoys video
        games, flying, and fishing, but his favorite pastime is spending time with his friends and family. His dream
        job would be coding from a hammock in Hawaii.</p>
    </div>
  </div>
  <div id="hollie" class='group'>
    <img class 'heads' src="/img/hollie-headshot.jpg" width='350' alt="Hollie Thomas Headshot">
    <div class='people'>
      <h3 class='names'>Hollie Thomas</h3>
      <p class='biosText'>Hollie is currently learning software development at Code Fellows. Hollie is working her way
        from being a stay at home mom to engaging in a new career in software development. Hollie wants to design
        educational and interactive games for parents to use with their children. She hopes to help other parents
        bridge the widening gap between involved and automated child education.</p>
    </div>
  </div>

  <div id="Matthew" class='group'>
    <img class 'heads' src="/img/matthew.jpeg" width='350' alt="Matthew McQuain Headshot">
    <div class='people'>
      <h3 class='names'>Matthew Mcquain</h3>
      <p class='biosText'>Matt was born and raised in Hawaii, attending the University of Hawaii where he earned a B.S in Kinesiology and Rehab Science. Wanting to pursue his doctorate, he moved to Seattle and started working at a physical therapy clinic in Bellevue as a strength and conditioning specialist. After working in close proximity to the tech industry, he chose to pursue a career in software development</p>
    </div>
  </div>
</section>
 
</body>
</html>

