<!DOCTYPE html>
<html lang="en">
  <head></head>
  <title>home screen</title>
  <header><%- include('./partials/header') %></header> 
  <body>
<div id=newpatient>
    <form onsubmit="formSubmit()">
      <p>New Patient Data</p>
      <input id="name" type="text" name="Patient Name" placeholder="enter patient name" value="">
      <input id="name" type="text" name="Patient Name" placeholder="enter patient name" value="">
      <input id="name" type="text" name="Patient Name" placeholder="enter patient name" value="">
      <input id="name" type="text" name="Patient Name" placeholder="enter patient name" value="">
      <input id="name" type="text" name="Patient Name" placeholder="enter patient name" value="">
      <input id="name" type="text" name="Patient Name" placeholder="enter patient name" value="">


      
      <button id="submit">submit</button>
    </form>

</div>



    
      
 <footer><%- include('./partials/footer') %></footer>
  
  </body>
</html>