<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
  <%- include('./partials/header') %>
  <main>
      <section class="newPatient">
        <h1 class="main-header">New Patient Data</h1>
        <form id="addNew" action="/patients" method="post">
          <input type="text" class="field-entry" id="patient-name" name="patientName" placeholder="Patient's Name" required>
          <input type="text" class="field-entry" id="patient-age" name="patientAge" placeholder="Patient's Age" required>
          <input type="text" class="field-entry" id="gender" name="patientGender" placeholder="Patient's Gender" required>
          <input type="date" class="field-entry" id="DOB" name="DOB" placeholder="Patient's DOB" required>
          <p class="form-question">Where is your pain?</p>
          <select name="painLocation" class="field-entry">
              <option value="knee" id="1">Knee</option>
              <option value="ankle" id='2'>Ankle</option>
              <option value="elbow" id="3">Elbow</option>
            </select>
          <button type="submit" id="submit" class="button">Submit</button>
          <input type="reset" class="button">
        </form>
      </section>
  </main>
  <%- include('./partials/footer') %>
  </body>
</html>