<!DOCTYPE html>

<html lang="en">
<%- include('./partials/head') %>
<%- include('./partials/header') %>


<body>
 <div id='returnPatientData'>
<p>hello world</p>
 </div> 
</body>
</html>
<%- include('./partials/footer') %>
<body>