<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body id="error-body">
   <%- include('../partials/header'); %>
    <div>
      <h1 id="error-message">404</h1>
      <h3 id="error-details">You have reached the following page in error.</h3>
    </div>
    <%- include('../partials/footer'); %>
</body>
</html>