<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body id="error-body">
  <header>
   <%- include('../partials/header'); %>
  </header>
    <div>
      <h1 id="error-message">404</h1>
      <h3>You have reached the following page in error.</h3>
    </div>
    <%- include('../partials/footer'); %>
</body>
</html>