header {
    padding-top: 2.5em;
    padding-bottom: 5.5em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #5b92e5;
    margin-bottom: 4em;
}

header h1 {
    float: left;
    font-size: 1.9em;
    letter-spacing: .05em;
    margin-left: 1em;
    clear: both;
}

.icon-menu {
    font-size: 3em;
    float: right;
    margin-bottom: .4em;
    color: #ffffff;
}

nav ul {
    display: none;
    list-style: none;
    clear: both;
    margin-top: -1.9em;
}
  
nav li {
    margin-right: .4em;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: .9em .5em;
    border-bottom: .5px solid #ffffff;
}

nav:hover ul {
    display: block;
}

.main-navigation ul li a {
    text-decoration: none;
    color:#ffffff;
}

.main-navigation ul li a:hover {
    color: #ffcc00;
}

footer {
    padding-top: 4em;
    padding-bottom: 4.5em;
    margin-top: 4em;
    background-color: #fafafa;
}
/* about us page styling subject to move */
section.bios {
width: 1200px;
margin-left: auto;
margin-right: auto;  
margin-top: 50px;
}

div.group {
  margin-left: auto;
  margin-right:auto;
  float: left;
}

.people {
  width: 320px;
  text-align: left;
  padding-right: 80px;
  margin-left:auto;
  margin-right: auto;
  color: #fafafa;
}

h3.names {
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 30px;
  font-size: 28px;
  padding: 3px;
  margin-bottom: 10px;
}

p.biosText {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
}