.headertitle {
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    color: #fafafa;
    float: left;
    margin-top: -.3em;
}

.main-header {
    font-family: 'Anton', sans-serif;
    font-size: 2.6em;
    margin-bottom: 1em;
    letter-spacing: .03em;
}

.diagnosis-description {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    font-size: 1.04em;
    line-height: 1.5em;
}

#map {
    height: 600px;
    width: 80%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
  }

#error-message {
    font-family: 'Anton', sans-serif;
    letter-spacing: .1em;
    font-size: 12em;
    color: #5b92e5;
    margin-top: .7em;
}

#error-details {
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 6.3em;
  }

#error-body {
    height: 100%;
}

.place-name {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 1.1em;
}

.recommended-treatment {
    font-family: 'Anton', sans-serif;
    font-size: 1.8em;
    margin-top: 2em;
    margin-bottom: .6em;
    letter-spacing: .03em;
}

.treatment-details {
    font-size: 1.2em;
}

.field-entry {
    border-style: inset;
    font-size: 1em;
    padding: 0.7em;
    border-radius: .2em;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.3em;
 }

 .button {
    background-color: #484848;
    font-size: 1.1em;
    border: none;
    color: #ffffff;
    padding: 20px 50px 20px 50px;
    margin-top: 2em;
}

.button a {
    text-decoration: none;
    color: #ffffff;
}

.button:hover {
    background-color: #5b92e5; 
}

.form-question {
    font-size: 1.2em;
    margin-bottom: .6em;
}

.desktop-nav a:not(:first-child) {display: none;}
    .desktop-nav a.icon {
      float: right;
      display: block;
    }

.desktop-nav.responsive {position: relative;}
.desktop-nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }

.desktop-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
}

.question {
    font-size: 1.7em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5em;
    line-height: 1.3em;
}

#questions {
    padding-top: 4em;
    padding-bottom: 2.5em;
}

.cell {
    font-size: 1.2em;
    margin-bottom: 1.2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cell a {
    text-decoration: none;
}

.cell a:hover {
    cursor: cell;
    color: #5b92e5;
}

@media only screen and (min-width: 640px) {
    .icon-menu {
      display: none;
    }
  
    nav ul {
      display: block;
      float: right;
    }
  
    nav ul li {
      display: inline;
      border-bottom: none;
    }
}