.headertitle {
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    color: #fafafa;
}

.diagnosis-title {
    font-family: 'Anton', sans-serif;
    font-size: 2.2em;
    margin-bottom: 1em;
    letter-spacing: .03em;
}

.diagnosis-description {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    font-size: 1.04em;
    line-height: 1.5em;
}

#map {
    height: 600px;
    width: 600px;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
  }

#error-message {
    font-family: 'Anton', sans-serif;
    letter-spacing: .1em;
    font-size: 12em;
    color: #ffcc00;
}

#error-body {
    height: 100%;
}

.place-name {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 1.1em;
}

@media only screen and (min-width: 640px) {
    .icon-menu {
      display: none;
    }
  
    nav ul {
      display: block;
      float: right;
    }
  
    nav ul li {
      display: inline;
      border-bottom: none;
    }
}